h1 {
    font-size: 2rem;
    text-align: center;
    color: #00004D
}
h3 {
    font-size: 1rem;
    text-align: center;
    color: #00004D
}
p {
    font-size: 1rem;
    color: #00004D
}


#mapContainer {
  height: 500px;
  width: 500px;
  flex-grow: 1
}


html, body{
  margin: 0;
  height: 100%;
}

.container{
  display: flex;
  height: 100%
}

.sidebar {
  width: 400px;
  height: 100%
}
